{% extends "personal/header.html" %}
{% block content %}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('static/personal/img/FIRST.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>David Parsons</h1>
                    <hr class="small">
                    <span class="subheading">Software Engineer in Training</span>
                    <span class="subheading">Rutgers University 2018</span>
                    <span class="subheading">FIRST Volunteer</span>
                    <span class="subheading">Eagle Scout</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- <span class="subheading">While You're Here:</span> -->
            <div class="container-fluid">
                <a href="about.html"><h1>About Me</h1></a>
                <p>Read more about who I am and what I do.</p>

                <a href="https://www.github.com/Parsons-David"><h1>GitHub</h1></a>
                <p>Checkout my GitHub to see some of the things I'm working on.</p>

                <!-- <a href="blog.html"><h1>Blog</h1></a>
                <p>Head over to my blog and check out some of the guides I wrote to help future versions of myself.</p> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
