{% extends "personal/header.html" %}
{% block content %}


    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/personal/img/back.JPG')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Projects</h1>
                        <hr class="small">
                        <span class="subheading">Stuff I've been working on in my free time.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="post-preview">
                  <a href="https://github.com/Parsons-David/Poker-Trainer">
                      <h2 class="post-title">
                          Poker Trainer
                      </h2>
                      <h3 class="post-subtitle">
                          Java Applet for Poker beginners that teaches you all the possible poker hands and how to recognize them.
                      </h3>
                  </a>
                  <!-- <p class="post-meta">Posted by <a href="about.html">David Parsons</a> on September 8, 2016</p> -->
              </div>
                <div class="post-preview">
                    <a href="https://github.com/Parsons-David/Rutgers-Course-Database">
                        <h2 class="post-title">
                            Rutgers Course Database
                        </h2>
                        <h3 class="post-subtitle">
                            Tools for creating, updating, and managing a database of all the Rutgers University Course Data.
                        </h3>
                    </a>
                    <!-- <p class="post-meta">Posted by <a href="about.html">David Parsons</a> on September 8, 2016</p> -->
                </div>
                <div class="post-preview">
                    <a href="http://parsonssoftware.me/data/home.html">
                        <h2 class="post-title">
                            Data 101 &amp; R Practice
                        </h2>
                        <h3 class="post-subtitle">
                            Projects created for Rutgers Data 101. Exploratory Data analysis with R.
                        </h3>
                    </a>
                    <!-- <p class="post-meta">Posted by <a href="about.html">David Parsons</a> on September 8, 2016</p> -->
                </div>
                <div class="post-preview">
                    <a href="https://github.com/Lmdudester/Matrix-Calculator">
                        <h2 class="post-title">
                            Matrix Calculator
                        </h2>
                        <h3 class="post-subtitle">
                            Small Java Application that performs basic arithemtic computations and manipulations on Matrices.
                        </h3>
                    </a>
                    <!-- <p class="post-meta">Posted by <a href="about.html">David Parsons</a> on September 8, 2016</p> -->
                </div>

            </div>
        </div>
    </div>

{% endblock %}
