{% extends "personal/header.html" %}
{% block content %}

<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/personal/img/Boston.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <!--
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                      -->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>My name is David Parsons, my friends call me David, Dave, Parsons, Parsnips, Nips, Snips, Snipples, and Parpar. Feel free to refer to me by which ever of these you like the most.</p>
                <p>I am currently a second-year student at Rutgers University in New Brunswick, studying Computer Science, graduating in the spring of 2018. At Rutgers, I work as a Learning Assistant with the <a href="https://rlc.rutgers.edu/">Rutgers Learning Center</a>, leading recitations of students
                    in the Computer Science Department's introductory course: "198:111" (Introduction to Computer Science). I have also previously worked as a Writing Tutor at the <a href="http://wp.rutgers.edu/tutoring/116-douglass-cook-writing-center">Douglass Writing Center</a>.</p>
                <p>When I'm not a Rutgers, I spend a lot of my time working with <a href="http://www.midatlanticrobotics.com/">FIRST Mid-Atlantic</a>, serving as a mentor for my High School team, Team 1647 the Iron Devils (check them out <a href="https://twitter.com/frc1647">here</a>),
                    as a volunteer taking on several different roles such as Field Supervisor and Field Technical Advisor Assistant, and as a member of the Information Technology and Equipment Committees. If you want to learn more about FIRST and how
                    to get involved checkout <a href="http://www.firstinspires.org/">http://www.firstinspires.org/</a>.</p>
                <p>And when ever I have free time, I work on some personal projects of my own. Some of these projects include: creating a repository of my course notes and study materials, updating my <a href="blog.html">blog</a>, improving the <a href="https://github.com/Parsons-David/Rutgers-Course-Database">Rutgers Course Database</a>, creating educational aides like the <a href="https://github.com/Lmdudester/Matrix-Calculator">Matrix Calculator</a>, and advancing my hold 'em skills through the <a href="https://github.com/Parsons-David/Poker-Trainer">Poker Trainer</a>.</p>

            </div>
        </div>
    </div>
{% endblock %}
